.bg {
    width: 50%;
    height: 850px;
}

.logo {
    position: absolute;
    width: 140px;
    height: 140px;
    top: 1px;
    left: 44px;
}

.container {
    position: relative;
    background-color: #ffffff;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
}

body {
    background-color: #EFF6FF;
    font-family: 'Barlow', sans-serif;
    color: #2A4A5C;
}

.header ul {
    list-style-type: none;
    font-size: 40px;
}

.header ul li {
  margin-bottom: 15px;
}

.header ul li:last-child {
  color: #7B8A92;
  font-size: 24px;
}
.image-container {
  display: flex;
}

.header {
  width: 50%;
  margin-left: 60px;
  box-sizing: border-box;
}

#fb-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 44px 12px 20px;
  background-color: #255A9B;
  color: white;
  border: none;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  top: 10px;
  left: 42px;
  gap: 17px;
  text-decoration: none;
  }

.fb {
  width: 10px;
  transform: scale(1.9);
  order: -1;
}

#lnkdn-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 44px 12px 20px;
  background-color: #0076B6;
  color: white;
  border: none;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  top: 10px;
  left: 75px;
  gap: 17px;
  text-decoration: none;
  }

.lnkdn {
  width: 10px;
  transform: scale(1.8);
  order: -1;
}

.lines-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 50%;
  margin-top: 60px; 
  margin-left: 130px;
}

.line {
  flex-grow: 1;
  height: 1px; /* толщина линии */
  background-color: #ccc; /* цвет линии */
}

.middle-text {
  color: #333;
  font-size: 12px;
}

.form-container {
  display: flex;
  width: 540px;
  margin-top: 50px;
  margin-left: 40px;
  gap: 35px;
}

.input-group {
  width: 100%;
  border: 1px solid #ddd;
  border-left: 3px solid #ddd; /* левая граница */
  margin-bottom: 15px;
  background: #fff;
  box-sizing: border-box;
}

.input-label {
  padding: 8px 12px 0 12px;
  font-size: 14px;
  color: #777;
}

.input-field {
  width: 90%;
  padding: 8px 12px 8px 12px;
  border: none;
  font-size: 16px;
  background: transparent;
  outline: none;
}

/* подсветка левой границы когда жмешь */
.input-group:focus-within {
  border-left: 3px solid #4285f4;
}

.investor ul li:last-child {
  color: #7B8A92;
  font-size: 14px;
}

.investor ul li {
  font-size: 24px;
}

.radio-panel {
  display: flex;
  gap: 20px;
  padding: 0;
  margin-left: 40px;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  position: relative;

}

input[type="radio"] {
  margin: 0;
  width: 16px;
  height: 16px;
}

.radio-text {
  font-size: 14px;
  white-space: nowrap;
}

.hint-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #e0e0e0;
  color: #555;
  font-size: 12px;
  font-weight: bold;
  cursor: help;
}

.hint {
  position: absolute;
  top: 100%;
  left: 0;
  width: 180px;
  padding: 8px;
  background: #ffffff;
  box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.1);
  color: #96A5B1;
  border-radius: 4px;
  font-size: 13px;
  visibility: hidden;
  transition: all 0.2s;
  margin-top: 5px;
}

.hint-icon:hover + .hint,
.hint-icon:focus + .hint {
  opacity: 1;
  visibility: visible;
}

.create-account {
  width: 250px;
  display: flex;
  margin-top: 40px;
  margin-left: 40px;
  align-items: center;
  justify-content: center;
  padding: 12px 44px 12px 44px;
  background-color: #3698FB;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.native-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-top: 85px;
  margin-left: 40px;
}

.native-checkbox a {
  color: #3698fb;
}